{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Basee</title>
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Gochi+Hand&display=swap" rel="stylesheet">
	
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>
<body>
	

	<!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">
            <form action="{% url 'searchByCity' %}" method="get" id="formSearchCity">
            <input type="text" name="q" id ="searchTextBox" placeholder="city">
            <button type="submit">Search</button>
            </form>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">

    {% if request.user.is_authenticated %}

    <h5 class="avisoLogin">{{request.user.username}}</h5>
    <h5 class="avisoLogin">Estas logeado</h5>

    <form action="{% url 'logout' %}" method="post">
      {% csrf_token %}
      <input type="submit" name="logout" value="logout">
    </form>

  




    {% else %}
    <h5 class="avisoLogin">No estas logeado</h5>
    

        {% if form.errors %}
          <p class="error">Sorry, that's not a valid username or password</p>
        {% endif %}

        <form action="{% url 'login' %}" method="post">
          {% csrf_token %}
          <label for="username">User name:</label>
          <input type="text" name="username" value="" id="username" placeholder="user">
          <label for="password">Password:</label>
          <input type="password" name="password" value="" id="password" placeholder="password">
          <input type="hidden" name="next" value="{{ next|escape }}" />
          <input type="submit" value="login" />
        </form>
        


        <a class="avisoLogin" href="{% url 'register' %}">Sign Up</a>


    {% endif %}
            

          </li>
          
        </ul>
      </div>
    </div>
  </nav>


  <!-- Header -->
  <header class="bg-primary py-5 mb-5">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-lg-12">
          <h1 class="display-4 text-white mt-5 mb-2">Forkilla</h1>
          <p class="lead mb-5 text-white-50">Gran variedad de Restaurantes, en distintas ciudades.<br> Realiza tu reserva.</p>
        </div>
      </div>
    </div>
  </header>





	{% block content %}
    {% endblock %}

    <hr>


   <div id="lastViewedContainer" class="container-fluid">
    <div id="lastViewedRestaurants">
    <h1>Your last viewed Restaurants</h1> <br>
    <ul class="list-group">
    <form action="{% url 'reservation'%}" method="get">
     {% for restaurant in viewedrestaurants.restaurantinsertdate_set.all|slice:"5"%}
    <li class="list-group-item"><a href="{% url 'details' restaurant.restaurant.restaurant_number%}">    {{restaurant.restaurant.name}} </a> ({{restaurant.restaurant.rate}}) :  {{restaurant.restaurant.menu_description}}
    <button type="submit" name="reservation" value={{restaurant.restaurant.restaurant_number}}>     Reserva</button>
	</li>
    
	{% endfor %}
	</ul>
 	</form> 

 	</div>

 	</div>


  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
  </footer>
</body>
</html>