{% extends 'forkilla/base.html' %}
{% load static %}

{% block content %}

<h4>forkilla/{{restaurant.city}}/{{restaurant.category}}/{{restaurant.name}}</h4>

{% if restaurant != "error" %}
    <ul>	
    <li>Name: {{restaurant.name}}</li>
    <li>Menu: {{restaurant.menu_description}}</li>
    <li>Price: {{restaurant.prive_average}}</li>
    <li>Promoted: {{restaurant.is_promot}}</li>
    <li>Rate: {{restaurant.rate}}</li>
    <li>Category: {{restaurant.category}}</li>
    <li>City: {{restaurant.city}}</li>
    <li>Address: {{restaurant.address}}</li>
    <li>Country: {{restaurant.country}}</li>
    </ul>
    <img src={{restaurant.featured_photo.url}} alt="My image" style="height: 250px; width: 250px;">

   {% if request.user.is_authenticated %}
    {% if form %}
    <h2> Deje su opinion sobre {{restaurant.name}}</h2>
    <form method="POST" >
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
    </form>
    {% endif %}
   {% endif %} 

   {% if reviews %}
        {% for rev in reviews %}
        <span > {{rev.review_user}}</span> 
        <br>
        <span > {{rev.comment}}</span> 
        <hr>
        {% endfor %}
   {% endif %}



{% else %}
    <p>This restaurant does not exist</p>
{% endif %}

{% endblock %}

